html {
    scroll-behavior: smooth;
}
body {
    background-color: #121212;
    color: #ffffff;
    
}
.right {
    display: flex;
    gap: 30px;
}
.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
}
.an {
    text-decoration: none;
    color: #ffffff;
    border-left: 1px solid #ffffff;
    padding-left: 30px;
    font-weight: bold;
}
.an:first-child {
    border-left: none;
}
.center {
    text-align: center;
}
.button {
    background-color: #ffffff;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background-color: gray;
    padding: 15px 25px;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.email-link {
    color: #ffffff;
    text-decoration: none;
}
